body {
  margin: 0;
  font-family: 'Laila' , cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: whitesmoke; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* global styles  */


:root{
  --primary : #007bff;
  --outline : #28a745;
  --main: #0D0F35;
  --mai: #090a2b;
  --white: #ffffff;
  --ease: all 0.3s ease 0s;
}
* {
  box-sizing: border-box;
  transition: .5s all ease;
  font-family: 'Laila' , cursive;
}
.icon {
  margin-right: 10px;
}
.card {
  transition: .4s all ease;
  background-color: white;
  margin-bottom : 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px 0px #888888;
  padding : 10px;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.backgroundFix {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.relative {
  position: relative;
}

.container {
  width: 80%;
  margin : auto;
}

/* Message Notification style Section */

.notificationContainer {
  position: fixed;
  background-color: #343a40;
  width: auto;
  margin : auto;
  padding : 10px 15px;
  border-radius: 10px;
  z-index: 1000;
  bottom : -50px;
  left: 20px;
}
.notificationContainer p {
  color : whitesmoke !important;
  margin : 0px;
}



/* page specific styles */

.homeWrapper::before{
  position: absolute;
  top: 0;left: 0;
  content: '';
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,.8);
  z-index: 2;
}
.homeWrapper {
  height: 100vh;
  width: 100%;
  position: relative;
  background-image: url('/images/homeBg.jpg');
}
.jumbotron {
  position: absolute;
  z-index: 2;
  color : white;
  background-color: transparent;
  width: 100%;
}
.jumbotronContent {
  width: 50%;
  margin : auto;
}
.jumbotron p {
  color : rgba(256,256,256,.7)
}
.oauthBox *{
  display: block;
}
.oauthBox p * {
  display: inline;
}
.oauthBox span {
  cursor: pointer;
}
.oauthBox {
  margin-top: 20px;
  border-top: 1px solid rgba(256,256,256,.3);
  border-right: 1px solid rgba(256,256,256,.1);
  padding : 30px;
}
.oauthBox label {
  text-align: start;
  margin : 10px 0px;
}
.oauthBox input[type='email'], .oauthBox input[type='password'] {
  width: 300px;
  background-color: transparent;
  border : 1px solid rgba(256,256,256,.4);
  padding : 8px;
  outline: none;
  color : white;
}
.oauthBox button, .titleCard button {
  margin-top: 25px;
  outline: none;
  border: none;
  padding : 10px;
  border-radius: 5px;
  background-color: orange;
  color : white;
  width: 100%;
}
.header{
  display: flex;
  justify-content: space-between;
  padding : 15px 40px;
  border-bottom: 1px solid #999;
  background-color: #333;
  color : whitesmoke;
}
.header p {
  margin-top: 0px;
}
.header .profileImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url('/images/tile.jpg');
}
.header .icon {
  font-size: 30px;
}

.contentBg, .topicPage{
  /* background-image: url('/images/contentBg.jpg');
  height: 100%;
  background-attachment: fixed;
  padding-bottom: 100px; */

}
.contentWrapper {
  width: 85%;
  margin: auto;
  margin-top : 100px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  padding-bottom: 100px;
}
.titleCard {
  color : #333;
  /* border : 1px solid rgba(0,0,0,.1); */
  box-shadow: 1px 1px 10px 0px #888888;
  border-radius: 10px;
}
.titleCard h5 {
  margin : 10px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.titleCard p {
  width: 90%;
  margin: auto;
}
.titleCard button {
  margin-top: 5px;
  border-radius: 0px;
}
.titleCard:hover {
  transform: scale(1.03);
}
.tileImage {
  height: 200px;
  width: 100%;
  background-image: url('/images/tile.jpg');
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

/* topic page style section */

.topicPage button {
  outline: none;
  border: none;
  padding : 10px;
  border-radius: 5px;
  background-color: orange;
  color : white;
}
.topicPage{
  color : #333;
}
.topicPage p {
  /* margin-bottom: 0px; */
}
.currentCourse {
  padding-top: 70px;
}
.currentCourse p {
  margin-right: 300px;
}
.topicWrapper {
  width: 90%;
  margin : auto;
  /* margin-top: 30px; */
  /* margin-bottom: 100px; */
}
.playerSection {
 position: relative;
 /* height: 70vh; */
 margin-top: 50px;
}
.playerSection .vidPlayer, .playerSection .deliverablesContainer {
  margin-right: 320px;
}
.playerSection .vidPlayer video {
  width: 100%;
  outline: none;
}
.playerSection .sideLinks p {
  font-size: 13px;
}

.sideContent {
  position: absolute;
  right: 0;
  top: 0;
  width: 300px;
  overflow-y: scroll;
  height: 50vh;
}
.sideLinks video {
  height: 80px;
  width: 100%;
  display: block;
  background-color: #000;
}
.sideLinks {
  display : grid;
  grid-template-columns: 1.5fr 2fr;
  gap : 10px;
  margin-bottom: 15px;
  cursor: pointer;
}
.docsImage {
  background-image: url('/images/docsImg.png');
  height: 80px;
  width: 100%;
}
.deliverablesContainer {
  height: 100%;
}
.submissionWrapper {
  margin-top: 30px;
}

/* document layout section */
.docHeader {
  display: flex;
  justify-content: space-between;
}
.docHeader span {
  color : orange;
}
.submissionWrapper {
  color : #333;
}
.submissionWrapper {
  color : #333;
}
.submissionWrapper .card {
  min-width: 300px;
}
.submissionHeader {
  display: flex;
  justify-content: space-between;
}

.submissionHeader p {
  color : green;
}
.workUpload button {
  display: block;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
  padding : 10px;
  width: 100%;
  text-align: center;
  font-size: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.inputfile +label > .icon {
  margin-right: 13px;
}

.inputfile:focus + label,
.inputfile + label:hover {
  cursor: pointer;
  background-color: rgba(0,0,0,.1);
}
.workUpload button {
  margin: 20px 0px;
  width: 100%;
  text-align: center;
  cursor: pointer;
  background-color: gray;
}
.submissionComment {
  display: flex;
  flex-direction: row;
  padding : 20px 10px;
}
.submissionComment input {
  border: none;
  border-bottom: 1px solid #333;
  outline: none;
  font-size: 13px;
  width: 70%;
  margin-left: 5px;
}
.submissionComment span {
  font-size: 20px;
  color : grey;
  border-bottom: 1px solid orange;
  cursor: pointer;
  margin-left: 10px;
}

/* Comment section style */

.commentSection {
  margin-top: 50px;
  margin-bottom: 60px;
}
.commentSection hr {
  background-color : rgba(255, 166, 0, 0.5);
}
.accImg { 
  background-image: url('/images/tile.jpg');
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.commentInput {
  display: flex;
}
.commentInput * {
  margin-left: 10px;
}
.commentInput span {
  font-size: 30px;
  color : orange;
  border-bottom: 1px solid orange;
  cursor: pointer;
}
.commentInput .alignBase, .submissionComment .alignBase {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  border-radius: 50%;
  /* border : 1px solid orange;
  padding : 3px; */
}
.commentInput input {
  background-color: transparent;
  color : #333;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,.2);
  outline: none;
  font-size: 13px;
  width: 70%;
}
/* other cumments style section */

.comments {
  display: flex;
  padding-bottom: 30px;
  width: 50%;
}
.comments:nth-child(even) {
  margin-left: 50px;
}
.comments .commentDetails {
  margin-left: 20px;
}
.comments p , .comments h5{
  margin-bottom: 0px;
}
.comments h5 {
  font-size: 13px;
}
.comments p {
  font-size: 15px;
}

